.card {
  width: 100%;
  &-header {
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    &-button {
      padding: 1rem;

      &:hover {
        cursor: pointer;
        color: royalblue;
      }
    }
  }
  &-body {
    border-radius: 0.25rem;
    padding: 1rem;
    border: 1px solid lightgrey;
  }
}
