.link {
  align-items: center;
  width: fit-content;
  padding-bottom: 0.25rem;
  &:hover {
    color: royalblue;
    cursor: pointer;
  }
}

.statistics {
  display: flex;
  flex-direction: row;
  height: 100%;
  &-body {
    padding-left: 1rem;
    width: 100%;
    .entitySelection {
      border-bottom: 1px solid lightgrey;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 -1rem;
      justify-content: space-between;
      padding: 1rem;

      &-item {
        border: 1px solid lightgrey;
        padding-left: 16px;
        padding: 0.5rem;
        border-radius: 0.25rem;
        margin-bottom: 0.25rem;
        width: 10vw;
        text-align: center;
        background: white;
        &:hover {
          background-color: whitesmoke;
          cursor: pointer;
        }
      }
      .selected {
        background: lightgray;
      }
    }
  }
}
