.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-top: 1px solid lightgrey;
  font-size: 12px;
  z-index: 1000;
  &-item {
    &:hover {
      color: royalblue;
      cursor: pointer;
    }
    padding: 1rem;
  }
}
