.priceScale {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: lightgrey;
  &-option {
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid lightgrey;
  }
  .selected {
    color: black;
  }
}
